/* fonts files */
.base-text-bold {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}
.base-text-reg {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}
/*colors*/
* {
  box-sizing: border-box;
}
body {
  line-height: 26px;
  color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
input:hover,
select:hover,
button:hover {
  cursor: pointer;
}
input:focus,
select:focus,
button:focus {
  outline: none;
}
.header__wrapper {
  position: fixed;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: #fff;
  background: #02918c;
}
.header__open-nav {
  position: absolute;
  display: none;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  width: 60px;
  height: 50px;
  font-size: 0;
  background-color: transparent;
  border: none;
}
.header__open-nav:before {
  position: absolute;
  content: '';
  right: 20px;
  top: 17px;
  width: 23px;
  height: 4px;
  background: #fff;
  box-shadow: 0 4px 0 transparent, 0 8px 0 #fff, 0 12px 0 transparent, 0 16px 0 #fff;
}
@media (max-width: 900px) {
  .header__wrapper {
    flex-direction: column;
    text-align: center;
  }
  .header__open-nav {
    display: block;
  }
}
.logo {
  font-size: 30px;
  line-height: 60px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  color: #fff;
}
.logo span {
  color: #cfc91d;
}
@media (max-width: 900px) {
  .logo {
    line-height: 50px;
  }
}
.main-nav__list {
  display: flex;
}
.main-nav__item {
  display: block;
  margin: 0 20px;
}
.main-nav__item:first-child {
  margin-left: 0;
}
.main-nav__item:last-child {
  margin-right: 0;
}
.main-nav__item a {
  position: relative;
  padding-left: 35px;
  font-size: 20px;
  line-height: 60px;
  color: #fff;
}
.main-nav__item a:before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  transition: all 3s;
}
.main-nav__item--home a:before {
  background: url("../img/icons/home.png") no-repeat center center;
  background-size: contain;
}
.main-nav__item--skills a:before {
  background: url("../img/icons/skills.png") no-repeat center center;
  background-size: contain;
}
.main-nav__item--work a:before {
  background: url("../img/icons/work.png") no-repeat center center;
  background-size: contain;
}
.main-nav__item--contact a:before {
  background: url("../img/icons/contact.png") no-repeat center center;
  background-size: contain;
}
.main-nav__item a:hover {
  color: #cfc91d;
}
@media (max-width: 900px) {
  .main-nav__list {
    flex-direction: column;
    justify-content: center;
  }
  .main-nav__item {
    margin: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #4d4d4d;
  }
  .main-nav__item:hover {
    background: #027874;
  }
  .main-nav--closed .main-nav__item {
    display: none;
    position: absolute;
  }
}
@media (max-width: 500px) {
  .main-nav__item a {
    font-size: 16px;
    line-height: 40px;
  }
}
.main__wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/main-bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  color: #fff;
}
.main__title {
  font-size: 60px;
  margin-bottom: 25px;
}
.main__description {
  font-size: 30px;
  margin-bottom: 100px;
}
.main__cv {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 15px 50px 15px 70px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background: #cfc91d;
  transition: all 5ms;
}
.main__cv:hover {
  background: #a29e17;
}
.main__cv:active {
  background: #767210;
}
.main__cv:before {
  position: absolute;
  display: block;
  content: '';
  top: -60px;
  left: 50%;
  margin-left: -54px;
  width: 108px;
  height: 25px;
  background: url("../img/icons/bracket.png") no-repeat center center;
}
.main__cv:after {
  position: absolute;
  display: block;
  content: '';
  top: 15px;
  left: 40px;
  width: 25px;
  height: 25px;
  background: url("../img/icons/cv.png") no-repeat center center;
  background-size: contain;
}
@media (max-width: 900px) {
  .main__title {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .main__description {
    font-size: 25px;
  }
  .main__cv {
    margin-bottom: 20px;
    padding: 5px 30px 5px 45px;
    font-size: 18px;
  }
  .main__cv:after {
    top: 5px;
    left: 15px;
  }
}
@media (max-width: 500px) {
  .main__title {
    font-size: 30px;
  }
  .main__description {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 50px;
  }
  .main__cv {
    margin-bottom: 20px;
    padding: 5px 30px 5px 45px;
    font-size: 14px;
  }
  .main__cv:before {
    top: -40px;
  }
  .main__cv:after {
    top: 5px;
    left: 15px;
  }
}
.btn {
  display: block;
  margin: 0 auto;
  padding: 15px 30px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background: #cfc91d;
  transition: all 5ms;
}
.btn:hover {
  background: #a29e17;
}
.btn:active {
  background: #767210;
  color: #fff;
}
@media (max-width: 900px) {
  .btn {
    padding: 10px 15px;
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .btn {
    padding: 10px 15px;
    font-size: 14px;
  }
}
.section__title {
  position: relative;
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}
.section__title:before,
.section__title:after {
  position: absolute;
  content: '';
  width: 41%;
  height: 2px;
  box-shadow: 0 2px 0 transparent, 0 4px 0 #000, 0 6px 0 transparent, 0 8px 0 #000, 0 10px 0 transparent, 0 12px 0 #000, 0 14px 0 transparent, 0 16px 0 #000, 0 18px 0 transparent, 0 20px 0 #000;
}
.section__title:before {
  left: 0;
}
.section__title:after {
  right: 0;
}
@media (max-width: 900px) {
  .section__title {
    font-size: 25px;
  }
  .section__title:before,
  .section__title:after {
    width: 35%;
  }
}
@media (max-width: 500px) {
  .section__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .section__title:before,
  .section__title:after {
    width: 28%;
  }
}
.skills__wrapper {
  text-align: center;
}
.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1600px;
}
.skills__item {
  display: block;
  width: 330px;
  margin-bottom: 50px;
}
.skills__logo {
  display: block;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 10px;
  transition: all 2s;
}
.skills__item:hover .skills__logo {
  transform: rotateY(360deg);
}
.skills__item-title {
  margin: 0;
  font-size: 25px;
  text-align: center;
}
@media (max-width: 900px) {
  .skills__item {
    width: 200px;
  }
  .skills__item-title {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .skills__item {
    width: 150px;
  }
  .skills__item-title {
    font-size: 14px;
  }
}
.works__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1600px;
}
.works__item {
  position: relative;
  margin: 10px;
  margin-bottom: 40px;
  border: 1px solid #e6e6e6;
}
.works__item:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.works__preview {
  height: 600px;
}
@media (max-width: 1200px) {
  .works__preview {
    height: 400px;
  }
}
@media (max-width: 800px) {
  .works__preview {
    height: 300px;
  }
}
.contact {
  text-align: center;
}
.contact__description {
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
}
.contact__item {
  display: inline-block;
  position: relative;
  padding-left: 50px;
  margin-right: 20px;
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 30px;
  text-transform: none;
}
.contact__item:before {
  position: absolute;
  content: '';
  display: block;
  left: 10px;
  width: 30px;
  height: 30px;
}
.contact__item--post:before {
  background: url("../img/icons/gmail.png") no-repeat center center;
  background-size: contain;
}
.contact__item--phone:before {
  background: url("../img/icons/phone.png") no-repeat center center;
  background-size: contain;
}
.contact__item:last-child {
  margin-right: 0;
}
@media (max-width: 900px) {
  .contact__description {
    margin: 0;
    font-size: 18px;
  }
  .contact__item {
    font-size: 16px;
    margin-bottom: 0;
  }
  .contact__item:last-child {
    margin-bottom: 40px;
  }
}
.page-footer {
  padding: 5px 0;
  background: #000;
  text-align: center;
  color: #fff;
}
