/* fonts files */
.base-text-bold {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}
.base-text-reg {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}

/*colors*/
@header-text: #fff;
@logo-text: #cfc91d;
@base-text: #000;
@header-bg: #02918c;
@btn-text-hover: #fff;
@btn-bg: #cfc91d;
@btn-bg-hover: #02918c;

@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1200px)";
@mobile-width-only: ~"(max-width: 767px)";
@tablet-width-only: ~"(min-width: 768px) and (max-width: 1199px)";