.main-nav {

  &__list {
    display: flex;
  }

  &__item {
    display: block;
    margin: 0 20px;
  }

  &__item a {
    font-size: 20px;
    line-height: 60px;
    color: @header-text;
  }

  &__item:first-child {
    margin-left: 0;
  }

  &__item:last-child {
    margin-right: 0;
  }
}