.skills {

  &__wrapper {
    text-align: center;
  }

  &__title {
    position: relative;
    font-size: 30px;
  }

  &__title:before {
    position: absolute;
    content: '';
    width: 44%;
    height: 2px;
    left: 0;
    box-shadow: 0 2px 0 transparent,
    0 4px 0 @base-text,
    0 6px 0 transparent,
    0 8px 0 @base-text,
    0 10px 0 transparent,
    0 12px 0 @base-text,
    0 14px 0 transparent,
    0 16px 0 @base-text,
    0 18px 0 transparent,
    0 20px 0 @base-text,
  }

  &__title:after {
    position: absolute;
    content: '';
    width: 44%;
    height: 2px;
    right: 0;
    box-shadow: 0 2px 0 transparent,
    0 4px 0 @base-text,
    0 6px 0 transparent,
    0 8px 0 @base-text,
    0 10px 0 transparent,
    0 12px 0 @base-text,
    0 14px 0 transparent,
    0 16px 0 @base-text,
    0 18px 0 transparent,
    0 20px 0 @base-text,
  }
}