.skills {

  &__wrapper {
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1600px;
  }

  &__item {
    display: block;
    width: 330px;
    margin-bottom: 50px;
  }

  &__logo {
    display: block;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 10px;
    transition: all 2s;
  }

  &__item:hover &__logo {
    transform: rotateY(360deg);
  }

  &__item-title {
    margin: 0;
    font-size: 25px;
    text-align: center;
  }
}


@media (max-width: 900px) {

  .skills {

    &__item {
      width: 200px;
    }

    &__item-title {
      font-size: 18px;
    }
  }
}

@media (max-width: 500px) {

  .skills {

    &__item {
      width: 150px;
    }


    &__item-title {
      font-size: 14px;
    }
  }
}